*.xmsgs
*.vho
usage_statistics_webtalk.html
*.log
*.didat
isim/*
xst/*
_ngo/*
xlnx_auto_0_xdb/*
*.cmd
*.gise
*.map
*.xml
iseconfig/ceng450.projectmgr
*.prj
*.bld
*.ncd
*.bgn
*.pad
*.bit
*.ngc
*.html
*.exe
*.xrpt
*.ini
*.mrp
*.par
*.cmd_log
*.drc
*.lso
*.ngd
*.ptwx
*.csv
*.txt
*.unroutes
*.pcf
*.syr
*.ngr
*.stx
*.twx
*.twr
*.ut
*.xpi
*.xst
*.xwbt
*.ngm
*.wdb